fastapi==0.115.8
uvicorn[standard]==0.34.0
black==24.1.1
sqlalchemy==2.0.38
aiosqlite==0.21.0
python-dotenv==1.0.1
pydantic-settings==2.7.1
psycopg2==2.9.10
asyncpg==0.30.0
alembic==1.14.1
typer==0.15.1